.navLink {
  text-decoration: none;
  color: orange;
  font-weight: 600;
}
.navLink:hover {
  color: orangered;
}
.headerButton {
  margin-right: 5px;
}
.navLogo {
  text-decoration: none;
}
.userName {
  font-weight: 500;
  color: orange;
}
.custom-box {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  position: sticky;
}
