.navLink {
  text-decoration: none;
  color: orange;
  font-weight: 600;
}
.navLink:hover {
  color: orangered;
}
.headerButton {
  margin-right: 5px;
}
.navLogo {
  text-decoration: none;
}
.userName {
  font-weight: 500;
  color: orange;
}
